:root {
    font-family: 'Lobster', cursive;
    color: #000000;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

html {
    background-image: url('assets/194-edited.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo_principal {
    text-align: center;
    color: rgb(233, 192, 115);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.25rem;
    margin-top: 20px;
}

.container-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}